.companies__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 50px;
}

.item {
  width: 60px;
  color: #414754;
  display: flex;
  font-size: 18px
}

.item__image {
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  background-color: rgba(170, 181, 181, 0.4);
  margin-right: 15px;
}

.item__name {
  width: 120px;
  height: 75px;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 20px;
}

.item__symbol {
  color: #5c6577;
  justify-content: center;
  align-items: center;
}